@model M0502.Models.sm_Programa

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>
<h1>Programa: @Model.descripcion</h1>

<div>
    @Html.DisplayNameFor(p => p.descripcion)
</div>
<div>
    @Html.DisplayFor(p => p.descripcion)
</div>
<div>
    @Html.DisplayNameFor(p => p.idEstado)
</div>
<div>
    @Html.DisplayFor(p => p.idEstado)
</div>

